body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f7f7f7;
  color: #555;
  font-family: 'Poppins', 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(#f7f4f4, #f7f4f4);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.ui.segment {
  font-family: 'Poppins', 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

.signin {
  background-image: linear-gradient(#f7f4f4, #f7f4f4);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.dashboard-main {
  background-image: linear-gradient(#1a73e8, #1a73e8);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.dashboard-device {
  background-image: linear-gradient(#1abc9c, #1abc9c);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.dashboard-logs {
  background-image: linear-gradient(#e67e22, #d35400);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.dashboard-analytics {
  background-image: linear-gradient(#a29bfe, #6c5ce7);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.your-devices {
  color: #fff;
  min-width: 100px;
}

.add-device {
  color: #1a73e8;
  margin-top: 15px;
}

.add-device-segment {
  text-align: center;
  padding: 50px 20px;
}

.device-segment {
  padding: 0px 0px 137px;
  font-size: 20px;
  color: #30336b;
}

.ui.ui.segment.device {
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.ui.segment.device:hover,
.ui.segment.device:active {
  background-color: #f5f6fa;
}

.add-device-cancel {
  font-size: 25px;
  margin: 50px 14px 50px 50px;
  color: #7f8fa6;
}

.add-device-content {
  margin: 20px 0px 20px;
}

.ui.input.add-device input {
  border: none;
  border-radius: 0px;
  border-bottom: 1.2px solid #718093;
  padding-left: 4px;
  padding-bottom: 4px;
  height: 70px;
  font-size: 30px;
}

.ui.input input:focus {
  border-bottom: 1.2px solid #1a73e8;
}

.signin-logo {
  height: 100px;
  width: auto;
  margin-bottom: 30px;
}

.signin-text {
  font-size: 20px;
}

.content-icon {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 37px;
  left: 30px;
  transition: color 0.25s ease-out;
  z-index: 200;
}

.content-icon:hover,
.content-icon:active {
  color: #2c3e50;
}

.logo {
  height: 70px;
  width: auto;
  float: left;
}

.nav-bar-top-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-right: 20px;
  color: #dfe6e9;
  transition: color 0.15s ease-in;
}

.nav-bar-top-link.join {
  border: 0.5px solid #dfe6e9;
  padding: 7px 19px;
  transition: color 0.15s ease-in, border 0.15s ease-in;
}

.nav-bar-top-link:hover,
.nav-bar-top-link:active {
  color: #bdc3c7;
}

.nav-bar-top-link.join:hover,
.nav-bar-top-link.join:active {
  border: 0.5px solid #bdc3c7;
}

.nav-bar-top-link2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-right: 20px;
  color: #2f3640;
  transition: color 0.15s ease-in;
}

.nav-bar-top-link2.join {
  border: 0.5px solid #2f3640;
  padding: 7px 19px;
  transition: color 0.15s ease-in, border 0.15s ease-in;
}

.nav-bar-top-link2:hover,
.nav-bar-top-link2:active {
  color: #7f8fa6;
}

.nav-bar-top-link2.join:hover,
.nav-bar-top-link2.join:active {
  border: 0.5px solid #7f8fa6;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 400%;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.spinner {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.spinner2 {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: 300px auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.center {
  position: fixed;
  text-align: center;
  z-index: 999;
  overflow: show;
  margin: 300px auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
}

.monit {
  height: auto;
  width: 350px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 250%;
  font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #7f8c8d;
  font-size: 110%;
  font-weight: 300;
}

.header-display-name {
  font-size: 19px;
  font-weight: 600;
  color: #080808;
  padding-bottom: 0px;
}

.header-signout {
  text-align: right;
  font-size: 15px;
  font-weight: 400;
  color: #e74c3c;
  padding: 3px 0px 0px;
  transition: opacity 0.25s ease-out;
  cursor: pointer;
}

.header-signout:hover,
.header-signout:active {
  opacity: 0.5;
}

.header-dropdown-content {
  font-size: 17px;
  padding: 10px 17px;
  font-weight: 500;
  transition: color 0.25s ease-out;
}

.header-dropdown-content:hover,
.header-dropdown-content:active {
  color: #080808;
}

.ui.disabled.huge.button.device {
  padding: 25px 70px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #718093;
}

.ui.huge.button.device {
  padding: 25px 70px;
  font-size: 14px;
  background-color: #1a73e8;
  color: #fff;
  transition: background-color 0.25s ease-out;
}

.ui.huge.button.device:hover,
.ui.huge.button.device:active {
  background-color: #1765cc;
}

.ui.basic.segment.logs {
  margin: 0px;
  padding-bottom: 100px;
  background-image: linear-gradient(#f5f6fa, #f5f6fa);
}

.ui.fluid.icon.input.logs {
  margin-bottom: 20px;
}

.logs-checkbox {
  background: #fff;
  border-radius: 0.21428571rem;
  border-color: #96c8da;
  width: 18px;
  height: 17px;
}

.table-wrapper {
  border-spacing: 0;
  /* border-top: 1px solid rgba(222, 222, 224, 0.7);
  border-bottom: 1px solid rgba(222, 222, 224, 0.7); */

  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui.button.delete {
  background-color: #e74c3c;
  color: #fff;
  transition: background-color 0.25s ease-out;
}

.ui.button.delete:hover,
.ui.button.delete:active {
  background-color: #c0392b;
}

.ui.raised.segment.footer {
  margin-top: 0px;
  text-align: center;
  padding: 30px 0px 60px;
}

.footer.header {
  /* font-family: sans-serif; */
  font-size: 27px;
  font-weight: 600;
  color: rgb(120, 120, 120);
  margin-bottom: 7px;
}

.footer-copyright {
  font-size: 13px;
  font-weight: 550;
  border-bottom: 1px solid #dddddd;
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
  color: rgb(120, 120, 120);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 14px;
  color: rgb(120, 120, 120);
  text-align: center;
  margin-bottom: 5px;
}

.ui.segment.landing {
  background-image: url(./images//landing.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 60vh;
  /* z-index: 10; */
  border-radius: 0px;
  margin: 0px;
}

.shared-header.menu {
  border-radius: 0px;
  position: fixed;
  top: 0px;
  z-index: 101;
  left: 0%;
  padding: 1.5em 1em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0);
  /* transition: top 0.3s ease-out; */
  /* transition: background-color 0.5s ease-in-out padding 0.3s ease-in-out; */
  transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease,
    border 0.5s ease;
}

.shared-header-hidden.menu {
  border-radius: 0px;
  position: fixed;
  top: 0px;
  z-index: 101;
  left: 0%;
  padding: 0em 1em;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  /* transition: top 0.3s ease-out; */
  /* transition: background-color 0.5s ease-in-out padding 0.3s ease-in-out; */
  transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease,
    border 0.5s ease;
}

.ui.segment.landing div {
  margin-top: 150px;
  text-align: center;
}

.ui.basic.segment.body {
  padding: 150px 0px;
  margin: 0px;
}

.ui.segment.sign-in-box {
  border-radius: 8px;
  border-width: 2px;
  border-color: hsl(0, 0, 100%);
  padding: 40px;
}

.ui.basic.segment.clear {
  text-align: center;
  margin: 0px;
  padding: 50px;
  background-color: #3d3d3d;
}

.ui.massive.button.landing-signin {
  background-color: #fff;
  transition: background-color 0.25s ease-out;
}

.ui.massive.button.landing-signin:hover,
.ui.massive.button.landing-signin:active {
  background-color: #dfe6e9;
}

.ui.big.button.learn-more {
  margin-top: 20px;
  background-color: #f1f2f6;
  box-shadow: 1px 2px 3px #747d8c;
}

.ui.big.button.learn-more:hover,
.ui.big.button.learn-more:active {
  box-shadow: 3px 4px 5px #747d8c;
}

.feedback-header {
  font-size: 20px;
  text-align: left;
  padding: 7px 0px 7px 15px;
}

.envelope.icon.feedback {
  font-size: 35px;
  padding-top: 11px;
}

.feedback-text {
  text-align: left;
}

.feedback-submit {
  cursor: pointer;
  color: rgb(65, 131, 196);
}

.feedback-segment {
  position: fixed;
  left: 35%;
  top: 25%;
  z-index: 1001;
}

.ui.fluid.button.key {
  border: 1px solid rgba(222, 154, 82, 0.5);
  color: #e21515;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(255, 89, 89, 0.1) 97%
  );
  background-color: rgba(0, 0, 0, 0);
}

.ui.fluid.button.key:hover,
.ui.fluid.button.key:active {
  border: 1px solid rgba(222, 154, 82, 0.6);
  color: #aa2b2b;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 89, 89, 0.2) 97%
  );
}

.ui.segment.key-loader {
  padding: 35px 0px;
}

.copy-icon {
  float: right;
}

.key-copy-popup {
  border-radius: 8px;
  opacity: 0.75;
  text-align: center;
  width: 130px;
}

.ui.segment.key-box {
  margin-top: 0px;
}

.ui.basic.segment.left-side-bar {
  margin: 0px;
  border-radius: 0px;
}

.ui.basic.segment.left-side-bar.item {
  padding: 25px 14px;
  /* border-bottom: 0.2px solid lightgrey; */
  font-family: 'Poppins', sans-serif;
  color: #ced6e0;
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
}

.ui.basic.segment.left-side-bar.item:hover,
.ui.basic.segment.left-side-bar.item:active {
  transform: scale(1.2);
  color: #3c6382;
  background-color: #fff;
}

.left-side-bar-logo {
  width: 150px;
  height: auto;
}

.home-icon {
  font-size: 23px;
}

.ui.segment.not-found {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.ui.segment.not-found-box {
  text-align: center;
  padding: 300px 0px;
  height: 100vh;
  background-color: #ecf0f1;
}

.ui.basic.segment.current-device {
  background-image: linear-gradient(#f5f6fa, #f5f6fa);
  padding: 50px 0px 50px;
  margin: 0px;
}

.ui.basic.segment.device-content {
  text-align: center;
  margin: 0px 50px 200px;
}

.ui.segment.no-device {
  font-style: oblique;
  padding: 70px 0px;
  border-radius: 8px;
  margin: 50px 0px 200px;
}

.dotted-lines {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  stroke-dasharray: 4;
}

.x-axis {
  color: grey;
  font-weight: 500;
}

.x-axis path,
.x-axis line {
  fill: none;
  stroke: none;
}

.y-axis {
  color: grey;
  font-weight: 500;
}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: none;
}

.y-axis-grid .tick {
  opacity: 0.4;
  color: grey;
  font-weight: 500;
}

.y-axis-grid path {
  stroke-width: 0;
}

.chart-tip-fixedText {
  fill: grey;
  font-size: 11px;
}

.chart-tip-text1 {
  fill: grey;
  font-size: 11px;
}

.bar-chart-tip-text {
  fill: grey;
  font-size: 15px;
}

.chart-tip-text-value {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  fill: black;
}

.ui.segments.device {
  padding: 14px 14px 50px;
  background-color: #fff;
  transition: box-shadow 0.25s ease-in-out;
}

.ui.segments.device:hover,
.ui.segments.device:active {
  box-shadow: 0 10px 6px -6px #a4b0be;
}

.ui.basic.segment.device-no-data {
  padding: 50px 0px;
}

.lines {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  stroke-dasharray: 4;
}

.eight.wide.column.device-charts {
  min-width: 500px;
}

.ui.basic.segment.monitoring {
  min-width: 365px;
}

.ui.button.delete-device {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #1abc9c;
  transition: background-color 0.25s ease-in-out;
}

.ui.button.delete-device:hover,
.ui.button.delete-device:active {
  background-color: rgba(178, 190, 195, 0.5);
}

.area {
  fill: lightsteelblue;
}

.path-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.view-details {
  margin-left: 10px;
  cursor: pointer;
  color: steelblue;
  font-size: 15px;
}

.ui.basic.segment.device-details {
  margin: 50px 5px;
}
